{% extends 'base.html' %}

{% load staticfiles %}


{% block content %}

<br><br><br><br>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/login/home">QUORA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a style="font-weight: bold;" class="nav-link" href="/login/success">Home

                <span class="sr-only">(current)</span>
              </a>
            </li>
                        <li class="nav-item">
              <a style="font-weight: bold;" class="nav-link" href="/login/success">Add Question</a>
            </li>
           
             <li class="nav-item">
              <a style="font-weight: bold;" class="nav-link" href="/login/log">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

  
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div class="card mt-4">
          
            <div class="card-body">
             	<h3 class="card-title">{{answer}}</h3>

               <form  action="" method="post">{% csrf_token %} 

						<label>Enter Your comment Here</label>
						  <textarea class="form-control" rows="5" id="comments" name="txtc"></textarea>
					<br>
					<input type="submit" class="btn btn-success" value="ADD COMMENT" />
					</form>
             
          {% for message in messages %}
   <h5 style="color:red;"> {{ message }} </h5>
    {% endfor %}



             
            </div>
          </div>
        </div>
    </div></div>
<br><br>
    <!-- Footer -->
<!--     <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>

    </footer> -->


{% endblock %}