{% extends 'basehome.html' %}

{% load staticfiles %}


{% block content %}
<br><br><br><br>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/login/home">QUORA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">


           {% if request.user.is_superuser %}
           <li>
              <a style="font-weight: bold;" class="nav-link" href="/login/questap">Question Approval</a>
            </li>
              <li>
              <a style="font-weight: bold;" class="nav-link" href="/login/ansap">Answer Approval</a>
            </li>


            {% endif %}

                 {% if request.user.is_authenticated %}
            <li class="nav-item ">
              <a style="font-weight: bold;" class="nav-link" href="/login/logout">Logout

              </a>
            </li>

                         {% else %}

             <li class="nav-item ">
              <a style="font-weight: bold;" class="nav-link" href="/login/log">Login

              </a>
            </li>

                       <li class="nav-item">
              <a style="font-weight: bold;" class="nav-link" href="/login/index">Registration</a>
            </li>

              {% endif %}





             
               <li class="nav-item">
            


<!-- 
             <li class="nav-item">
              <a style="font-weight: bold;" class="nav-link" href="/login/adminlogin">Admin</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-sm-2"></div> 
         <div class="col-sm-10">
        <!-- /.col-lg-3 -->
 <br><br><br><br><br><br><br><br><br><br><br>
            <h5  style="color:black;  letter-spacing: 2px;  text-transform:uppercase; font-style: italic; font-weight: bold;"><!--"Quora’ mission is to share and grow the world’s knowledge. A vast amount of the knowledge that would be valuable to many people is currently only available to a few — either locked in people’s heads, or only accessible to select groups. We want to connect the people who have knowledge to the people who need it, to bring together people with different perspectives so they can understand each other better, and to empower everyone to share their knowledge for the benefit of the rest of the world."   -->
               &nbsp "knowledge is having the right answer. &nbsp   &nbsp   &nbsp  <br>  &nbsp   &nbsp &nbsp   &nbsp &nbsp   &nbsp  Intelligence is asking the right question"


            </h5> </style>
                 
    {% for message in messages %}
   <h5 style="color:red;"> {{ message }} </h5>
    {% endfor %}

        </div>
    </div></div>
<br><br>

{% endblock %}
