{% extends 'base.html' %}
{% load staticfiles %}



{% block content %}
<br><br><br><br>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/login/home">QUORA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a style="font-weight: bold;"  class="nav-link" href="/login/home">Login

                <span class="sr-only">(current)</span>
              </a>
            </li>
                        <li class="nav-item">
              <a style="font-weight: bold;" class="nav-link" href="/login/index">Registration</a>
            </li>
       <!--         <li class="nav-item">
              <a style="font-weight: bold;" class="nav-link" href="/login/adminlogin">User Profiles</a>
            </li>



             <li class="nav-item">
              <a style="font-weight: bold;" class="nav-link" href="/login/adminlogin">Admin</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

  
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div class="card mt-4">
          
            <div class="card-body">
             	
        	<form action="" method="post">

				{% csrf_token %}

       

					<h1>LOGIN</h1> <hr>
				<label>Username</label>
			<input type="text" class="form-control" name="name"> <br>
			<label>Password</label>
			<input type="password" class="form-control" name="password">

			<br>
			 <input type="submit" class="btn btn-success" value="Signin" /> <br> <br>

			 <!-- <a href="/login/home"> 
			<input type="button" class="btn btn-success" value="HOME" /> </a> <br> -->

			</form>

 {% for message in messages %}
      {{ message }}
    {% endfor %}



             
            </div>
          </div>
        </div>
    </div></div>
<br><br>
{% endblock %}
