

{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quora</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="{% static 'login/shop-item.css' %}"/>
 
  </head>

<body>
<br><br><br><br>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/login/home">QUORA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a style="font-weight: bold;"  class="nav-link" href="/login/home">Login

                <span class="sr-only">(current)</span>
              </a>
            </li>
                        <li class="nav-item">
              <a style="font-weight: bold;" class="nav-link" href="/login/index">Registration</a>
            </li>
               <li class="nav-item">
              <a style="font-weight: bold;" class="nav-link" href="/login/adminlogin">User Profiles</a>
            </li>



             <li class="nav-item">
              <a style="font-weight: bold;" class="nav-link" href="/login/adminlogin">Admin</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

  
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div class="card mt-4">
          
            <div class="card-body">
             	
        	<form action="" method="post">

				{% csrf_token %}
					<h1>USER LOGIN</h1> <hr>
				<label>Username</label>
			<input type="text" class="form-control" name="name"> <br>
			<label>Password</label>
			<input type="password" class="form-control" name="password">

			<br>
			 <input type="submit" class="btn btn-success" value="Signin" /> <br> <br>

			 <!-- <a href="/login/home"> 
			<input type="button" class="btn btn-success" value="HOME" /> </a> <br> -->

			</form>

 {% for message in messages %}
      {{ message }}
    {% endfor %}



             
            </div>
          </div>
        </div>
    </div></div>
<br><br>


</html>
