{% extends 'base.html' %}

{% load staticfiles %}


{% block content %}
<br><br><br><br>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/login/home">QUORA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a style="font-weight: bold;" class="nav-link" href="/login/home">Login

                <span class="sr-only">(current)</span>
              </a>
            </li>
                        <li class="nav-item ">
              <a style="font-weight: bold;" class="nav-link" href="/login/index">Registration</a>
            </li>
               <li class="nav-item">
              <a style="font-weight: bold;" class="nav-link" href="/login/display">User Profiles</a>
            </li>



             <li class="nav-item active">
              <a style="font-weight: bold;" class="nav-link" href="/login/admin">Admin</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

  
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

          <div class="card mt-4">
          
            <div class="card-body">
             	
				        
						<h1>ADMIN</h1> <hr>
				<table class="table">
    <thead>
      <tr>
      	  <th>QUEST ID</th>
        <th>QUESTION</th>
        <th>STATUS</th>
         <th>USER ID</th>
      </tr>
    </thead>
    <tbody>
        
      <tr class="default">
      	 <td>{%for i in st8%}
			 
		{{i}}
		<br><br>
	{%endfor%}</td> 

        <td>{%for i in st5%}
			 
		{{i}}
		<br><br>
	{%endfor%}</td> 
	<td>{%for i in st6%}
			 
		{{i}}
		<br><br>
	{%endfor%}</td> 

	  <td>{%for i in st7%}
			 
		{{i}}
		<br><br>
	{%endfor%}</td> 
	


	
        
      </tr>
      
    </tbody>
  </table>

  			<hr>


				<form  action="" method="post">{% csrf_token %}

					<div class="form-group">
				  		<label>Enter the question id to approve a question :</label>
				  		<!-- <textarea class="form-control" rows="5" id="comment1" name="comment"></textarea> -->
				  		<input class="form-control" type="number" name="stats">
					</div>
					<button type="submit" class="btn btn-success">Approve Question</button>


                  <br><br>
        <a style="color:red;text-align:right"   href="/login/logout">Logout </a>
				</form>





				             
				            </div>
				          </div>
				        </div>
				    </div>
				    </div>
				<br><br>

{% endblock %}