{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Quora</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css" href="{% static 'login/shop-item.css' %}"/>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/login/home">QUORA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/login/home">Home

                <span class="sr-only">(current)</span>
              </a>
            </li>
                        <li class="nav-item">
              <a class="nav-link" href="/login/success">Add Question</a>
            </li>
           
             <li class="nav-item">
              <a class="nav-link" href="/login/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-lg-3">
          <h1 class="my-4"> Welcome  {{request.user.username}}  </h1>
        <div class="list-group">   <p>Users Questions:</p>
                 {%for i in questions%}  
			 
		        <a href="{% url 'login:questiondetail' qid=i.id %}"> <b>{{i.question}}</b>
	           	<br>
	               {%endfor%}   </a>
<!--             <a href="#" class="list-group-item">Category 2</a>
            <a href="#" class="list-group-item">Category 3</a> -->
        </div>
    </div>
        <!-- /.col-lg-3 -->

    <div class="col-lg-9">

      <div class="card mt-4">
          
        <div class="card-body">
                          <h3 class="card-title"><b>What is your question?</b></h3>

                       <p class="card-text">  <form action="" method="post">{% csrf_token %}

            <div class="form-group">
                    		<label>Start your question with 'What','How','Why',etc</label>

                    		<input class="form-control" type="text" name="ques">



	           </div>
	                     <button type="submit" class="btn btn-success">Add Question</button>

                      </form></p>
             
        </div>
      </div>



    {% for message in messages %}
      {{ message }}
    {% endfor %}

      
          <!-- /.card -->
            {% for question in questions %}
      <div class="card card-outline-secondary my-4">
        <div class="card-header">
        

            <div class="">
                   <h3> <a href="{% url 'login:questiondetail' qid=question.id %}"> <b>Q. {{question}}</a></b></h3>

                     
                        
                            <small class="text-muted">Posted by   
                        {{question.users}} <br>
                         <a class="text-muted" href="{% url 'login:deletedetail' did=question.id %}">delete</a>
 
                     </small>

            </div>
        </div>
      </div>                         
		             {% for answer in answers %}



          {% if answer.questid == question.id|stringformat:"s"%}

        <div class="my-4">
          <div class="card-header">
        

              <div class="card-body">

                 <h5>{{answer}}</h5>
                      <small class="text-muted">Posted by   
                        {{answer.users}}
 
                     </small>

               
                     <br> 

                  <a class="text-muted" href="{% url 'login:deleteansdetail' daid=answer.id %}">delete answer</a>

                    <br>
               



   

                   
                    <br>
                            <div class="my-4">
                     <div class="card-header">
        

              <div class="card-body">


                     

              
                     {% for comment in comments %} 


           				{% if comment.ansid == answer.id|stringformat:"s" %}


                        		<small>{{comment}}</small><br>
                         
                              <small class="text-muted">Commented by {{comment.users}}</small><br>
                        {% endif %} 

          					 
          			    {% endfor %}  

                    <br>
                    <a href="{% url 'login:answerdetail' aid=answer.id %}" class="btn btn-success">Leave a Comment</a> <br><br>



                    </div></div></div>

            </div>     

          </div>
        </div> 
          <!-- </div> -->
                                <!-- /.card -->
                                {% endif %}

                      	{% endfor %}  {% endfor %}  

        <!-- </div> -->
        <!-- /.col-lg-9 -->

     <!--  </div> -->

    </div>
    <!-- /.container -->


  <div>	
       

</div>







<!-- {% load i18n %}
<div class="row">
  <div class="col-xs-12">
    <section class="paginator text-center">
      <nav>
        <ul class="pagination">

          <li>
            {% if page.has_previous %}
              <a href="?page={{ page.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true"><i class="icon icon-chevron-left"> Anterior</i></span>
              </a>
            {% endif %}
          </li>

          {% for page_num in begin %}
            {% ifequal page.number page_num %}
            <li class="active">
              <a href="?page={{ page_num }}">{{ page_num }}</a>
            </li>
            {% else %}
            <li>
              <a href="?page={{ page_num }}">{{ page_num }}</a>
            </li>
            {% endifequal %}
          {% endfor %}

          {% if middle %}
            <li>
              <a>..ghghf.</a>
            </li>
            {% for page_num in middle %}
              {% ifequal page.number page_num %}
                <li class="active">
                  <a href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
              {% else %}
                <li>
                  <a href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
              {% endifequal %}
            {% endfor %}
          {% endif %}

          {% if end %} 
            <li>
              <a>...gfdg</a>
            </li>
            {% for page_num in end %}
              {% ifequal page.number page_num %}
                <li class="active">
                  <a href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
              {% else %}
                <li>
                  <a href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
              {% endifequal %}
            {% endfor %}
          {% endif %} 

          <li>
            {% if page.has_next %}
              <a href="?page={{ page.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">Siguiente <i class="icon icon-chevron-right"></i></span>
              </a>
            {% endif %}
          </li>

        </ul>
      </nav>
    </section>
  </div>
</div>
 -->







<br><br><br><br><br><br><br><br><br><br>


    <!-- Footer -->
<!--     <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>

    </footer>
 -->

  </body>
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script> -->

</html>
