{% extends 'base.html' %}

{% load staticfiles %}


{% block content %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/login/home">QUORA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a style="font-weight: bold;" class="nav-link" href="/login/success">Home

                <span class="sr-only">(current)</span>
              </a>
            </li>
                        <li class="nav-item">
              <a style="font-weight: bold;" class="nav-link" href="/login/success">Add Question</a>
            </li>
           
             <li class="nav-item">
              <a style="font-weight: bold;" class="nav-link" href="/login/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-lg-3">
          <h1 class="my-4"> Welcome  {{request.user.username}}  </h1>
        <div class="list-group">   <p>Users Questions:</p>
                 {%for i in questions%}  
			 
		        <a href="{% url 'login:questiondetail' qid=i.id %}"> <b>{{i.question}}</b>
	           	<br>
	               {%endfor%}   </a>
<!--             <a href="#" class="list-group-item">Category 2</a>
            <a href="#" class="list-group-item">Category 3</a> -->
        </div>
    </div>
        <!-- /.col-lg-3 -->

    <div class="col-lg-9">

      <div class="card mt-4">
          
        <div class="card-body">
                          <h3 class="card-title"><b>What is your question?</b></h3>

                       <p class="card-text">  <form action="" method="post">{% csrf_token %}

            <div class="form-group">
                    		<label>Start your question with 'What','How','Why',etc</label>

                    		<input class="form-control" type="text" name="ques">



	           </div>
	                     <button type="submit" class="btn btn-success">Add Question</button>

                      </form></p>
             
        </div>
      </div>



    {% for message in messages %}
   <h5 style="color:red;"> {{ message }} </h5>
    {% endfor %}

      
          <!-- /.card -->
            {% for question in questions %}
      <div class="card card-outline-secondary my-4">
        <div class="card-header">
        

            <div class="">
                   <h3> <a href="{% url 'login:questiondetail' qid=question.id %}"> <b>Q. {{question}}</a></b></h3>

                     
                        
                            <small class="text-muted">Posted by   
                        {{question.users}} <br>
                         <a class="text-muted" href="{% url 'login:deletedetail' did=question.id %}">delete</a>
 
                     </small>




            </div>
        </div>
      </div>                         
		             {% for answer in answers %}



          {% if answer.questid == question.id|stringformat:"s"%}

        <div class="my-4">
          <div class="card-header">
        

              <div class="card-body">

                 <h5>{{answer}}</h5>
                      <small class="text-muted">Posted by   
                        {{answer.users}}
 
                     </small>

               
                     <br> 

                  <a class="text-muted" href="{% url 'login:deleteansdetail' daid=answer.id %}">delete answer</a>

                    <br>
               



   

                   
                    <br>
                            <div class="my-4">
                     <div class="card-header">
        

              <div class="card-body">


                     

              
                     {% for comment in comments %} 


           				{% if comment.ansid == answer.id|stringformat:"s" %}


                        		<small>{{comment}}</small><br>
                         
                              <small class="text-muted">Commented by {{comment.users}}</small><br>
                        {% endif %} 

          					 
          			    {% endfor %}  

                    <br>
                    <a href="{% url 'login:answerdetail' aid=answer.id %}" class="btn btn-success">Leave a Comment</a> <br><br>



                    </div></div></div>

            </div>     

          </div>
        </div> 
          <!-- </div> -->
                                <!-- /.card -->
                                {% endif %}

                      	{% endfor %}  {% endfor %}  

        <!-- </div> -->
        <!-- /.col-lg-9 -->

     <!--  </div> -->

    </div>
    <!-- /.container -->


  <div>	
       

</div>












<br><br><br><br><br><br><br><br><br><br>



{% endblock %}