{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Display</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}"/>
</head>
<body>

<h1>REGISTERED USERS</h1>
  <table class="table">
    <thead>
      <tr>
        <th>NAME</th>
        <th>NO</th>
       
      </tr>
    </thead>
    <tbody>
        
      <tr class="default">
        <td>{%for i in st4%}
			 
		{{i}}
		<br><br>
	{%endfor%}</td> 
	
        <td>{%for i in st5%}
			 
		{{i}}
		<br><br>
	{%endfor%}</td>
	
        

	
        
      </tr>
      
    </tbody>
  </table>
  <a href="/login/home">
<input type="button" class="btn btn-success" value="HOME" /> </a>
</body>
</html>


